<a href="https://colab.research.google.com/github/dapopadev/project/blob/main/operaciones%20arrays%20%20pruebas%20estad%C3%ADsticas(t-student%20y%20p%20value).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.GENERAMOS UN NOTEBOOK

2.INSTALAMOS PYSPARK

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=8c3cad55868ce1542189eb5972e3f3f6835d0b80cb2c4ef285328334bdb30186
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

CREAMOS LA SESIÓN PYSPARK

In [2]:
from pyspark.sql import SparkSession

In [3]:
from google.colab import drive

4.DISEÑAMOS LA UNIDAD PERSONAL DE GOOGLE DRIVE

In [4]:
drive.mount("/drive")

Mounted at /drive

In [5]:
spark=SparkSession.builder.appName("my_app").getOrCreate()

5.CARGAMOS EL ARCHIVO CVS_STOCKS_2021 EN UN DATAFRAME

In [6]:
df=spark.read.option("Header",True).csv("/drive/MyDrive/CSV_stocks_2021.csv")

6.FILTRAMOS LAS FILAS QUE CORRESPONDEN CON EL VALOR HON DE LA COLUMNA TICKER

In [7]:
df_hon=df.filter(df.ticker=='HON')

*RENOMBRAMOS LA COLUMNA OPEN PARA NO PERDER DATOS

In [8]:
df_hon=df_hon.withColumnRenamed('open','open_hon')

In [9]:
df_hon.show()

+------+------------------+------------------+------------------+------------------+-------+---------+------------+----------+---+
|ticker|          open_hon|              high|               low|             close| volume|dividends|stock splits|      date|ccy|
+------+------------------+------------------+------------------+------------------+-------+---------+------------+----------+---+
|   HON|207.45501408335315|209.42141232111007|206.14735745495346|209.12644958496094|1406400|      0.0|           0|2020-12-31|USD|
|   HON|209.26409612607986|209.43123817541044| 202.8929700588177| 204.4562530517578|2328900|      0.0|           0|2021-01-04|USD|
|   HON|203.50255708426138| 206.6586329757187|203.50255708426138|204.95770263671875|2172100|      0.0|           0|2021-01-05|USD|
|   HON|205.93106042557045|210.38495140642195|205.71475541084416|   208.69384765625|2747900|      0.0|           0|2021-01-06|USD|
|   HON|209.31327369732284|210.41445198270796|207.25839100319203|209.03797912597656|2057300|      0.0|           0|2021-01-07|USD|
|   HON|209.22477804904162|209.82453011896777| 204.1809617069155|206.50131225585938|3278900|      0.0|           0|2021-01-08|USD|
|   HON|  204.613559972612|206.09818517407587|204.33826543197534|204.85935974121094|2938900|      0.0|           0|2021-01-11|USD|
|   HON|  204.367783872409| 205.9605617566175|201.81145998195402| 205.3706512451172|2498800|      0.0|           0|2021-01-12|USD|
|   HON|  204.780710862364| 205.1149949615185|202.93229172186355|203.54188537597656|2145100|      0.0|           0|2021-01-13|USD|
|   HON|204.54474810663825|206.25552005813464|203.69919622290033| 205.1051788330078|3661500|      0.0|           0|2021-01-14|USD|
|   HON|204.04330969253792|204.36776719848436|    201.7524539705|  202.509521484375|3887500|      0.0|           0|2021-01-15|USD|
|   HON| 204.7414004554059|205.25265322179186| 202.9814655406593| 203.2862548828125|2656300|      0.0|           0|2021-01-19|USD|
|   HON| 204.4267604669998|205.16415981146147|203.19776155956373|204.58407592773438|2452400|      0.0|           0|2021-01-20|USD|
|   HON|203.38457127629206|204.31860744308085|201.65414621989987|201.78195190429688|2705100|      0.0|           0|2021-01-21|USD|
|   HON| 200.8282604869766|201.02491232627204| 198.0064836217491|198.85203552246094|3502700|      0.0|           0|2021-01-22|USD|
|   HON|197.95731446101044|199.15681863147958|196.73815710917054|198.47840881347656|4737700|      0.0|           0|2021-01-25|USD|
|   HON|200.41529910872143|201.32968206461314|197.60334910836625| 197.6820068359375|2201900|      0.0|           0|2021-01-26|USD|
|   HON|194.78159101389213|197.38706285147768|193.22813450230996|196.03025817871094|4108600|      0.0|           0|2021-01-27|USD|
|   HON|197.24941031607628|201.89995313608185|196.27605275101863|199.43211364746094|3731700|      0.0|           0|2021-01-28|USD|
|   HON| 193.2084624142251|197.56404251420506| 191.2814004531731|192.08761596679688|4635100|      0.0|           0|2021-01-29|USD|
+------+------------------+------------------+------------------+------------------+-------+---------+------------+----------+---+
only showing top 20 rows

7.CONVERTIMOS EL DATAFRAME SPARK A UNO PANDAS

In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
pandas_hon_open=df_hon.toPandas()

8.EXTRAEMOS LA COLUMNA 'OPEN' Y LA CONVERTIMOS EN UN ARRAY UNIDIMENSIONAL USANDO NUMPY

In [13]:
hon_array=np.array(pandas_hon_open['open_hon']).ravel()

9.DIVIDIMOS EL ARRAY EN 2 PARA COMAPRAR 2 PEERIODOS

In [14]:
hon_array_split=np.array_split(hon_array,2)

In [15]:
hon_array_0=hon_array_split[0].astype(float)

In [16]:
hon_mean_0=np.mean(hon_array_0)

In [17]:
hon_array_1=hon_array_split[1].astype(float)

In [18]:
hon_mean_1=np.mean(hon_array_1)

10.APLICAMOS LA PRUEBA ESTADÍSTICA T DE STUDENT

In [19]:
import scipy.stats as stats

In [20]:
stats.ttest_ind(hon_array_0,hon_array_1,equal_var=False)

TtestResult(statistic=-5.175116593297485, pvalue=4.81611057993437e-07, df=239.70116425677583)

LA PRUEBA P-VALUE ES INFERIOR A 0.5 POR LO TANTO RECHAZAMOS LA HIPÓTESIS NULA
EN CUANTO A LOS PERIODOS PROMEDIOS NO SE SI ME DA SOLO UNO PORQUE EL SPLIT NO SE HA EFECTUADO CORRECTAMENTE