<a href="https://colab.research.google.com/github/dapopadev/project/blob/main/transformaciones%20y%20consultas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Nueva sección

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=64195effc8c6304289a451d4ca7c15b72596690042da0cdb4c43b4a5a12a7179
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder\
      .master('local')\
      .appName('Colab')\
      .config('spark.vi.port',4050)\
      .getOrCreate()

In [5]:
spark

Cargar datos de un fichero

In [6]:
spark.readStream

In [7]:
df=spark.read.csv('/content/sample_data/california_housing_test.csv',header=True)

Funciones para ver los datos
  columns
  show()
  printSchema()
  select()
  filter()
  count()
  groupBy()

In [8]:
df.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [10]:
df.select("total_bedrooms","households").show()

+--------------+-----------+
|total_bedrooms| households|
+--------------+-----------+
|    661.000000| 606.000000|
|    310.000000| 277.000000|
|    507.000000| 495.000000|
|     15.000000|  11.000000|
|    244.000000| 237.000000|
|    213.000000| 204.000000|
|    225.000000| 218.000000|
|    471.000000| 441.000000|
|    617.000000| 599.000000|
|    632.000000| 603.000000|
|    249.000000| 261.000000|
|    166.000000| 138.000000|
|    182.000000| 170.000000|
|    694.000000| 659.000000|
|    325.000000| 331.000000|
|     40.000000|  50.000000|
|    123.000000| 107.000000|
|    607.000000| 595.000000|
|    196.000000| 199.000000|
|   1307.000000|1258.000000|
+--------------+-----------+
only showing top 20 rows

In [11]:
df.filter("total_rooms<=67").select("total_rooms","total_bedrooms").show()

+-----------+--------------+
|total_rooms|total_bedrooms|
+-----------+--------------+
|  67.000000|     15.000000|
|  19.000000|     19.000000|
|  40.000000|      8.000000|
|  38.000000|      8.000000|
|  16.000000|      4.000000|
|  41.000000|     17.000000|
|   6.000000|      2.000000|
|  60.000000|     11.000000|
|  48.000000|     12.000000|
|  25.000000|      5.000000|
|  42.000000|     14.000000|
|  32.000000|      8.000000|
|  32.000000|      7.000000|
|  49.000000|     14.000000|
|  45.000000|      8.000000|
|  18.000000|      3.000000|
|  21.000000|      7.000000|
|  48.000000|      8.000000|
|  66.000000|     22.000000|
+-----------+--------------+

In [12]:
df_filtrado=df.filter("total_rooms<=67").select("total_rooms","total_bedrooms")
df_filtrado.show()

+-----------+--------------+
|total_rooms|total_bedrooms|
+-----------+--------------+
|  67.000000|     15.000000|
|  19.000000|     19.000000|
|  40.000000|      8.000000|
|  38.000000|      8.000000|
|  16.000000|      4.000000|
|  41.000000|     17.000000|
|   6.000000|      2.000000|
|  60.000000|     11.000000|
|  48.000000|     12.000000|
|  25.000000|      5.000000|
|  42.000000|     14.000000|
|  32.000000|      8.000000|
|  32.000000|      7.000000|
|  49.000000|     14.000000|
|  45.000000|      8.000000|
|  18.000000|      3.000000|
|  21.000000|      7.000000|
|  48.000000|      8.000000|
|  66.000000|     22.000000|
+-----------+--------------+

In [13]:
df.select("housing_median_age","median_income","population"). show()

+------------------+-------------+-----------+
|housing_median_age|median_income| population|
+------------------+-------------+-----------+
|         27.000000|     6.608500|1537.000000|
|         43.000000|     3.599000| 809.000000|
|         27.000000|     5.793400|1484.000000|
|         28.000000|     6.135900|  49.000000|
|         19.000000|     2.937500| 850.000000|
|         37.000000|     1.663500| 663.000000|
|         43.000000|     1.664100| 604.000000|
|         19.000000|     3.225000|1341.000000|
|         15.000000|     3.669600|1446.000000|
|         31.000000|     2.333300|2830.000000|
|         45.000000|     2.205400|1288.000000|
|         37.000000|     2.416700| 564.000000|
|         36.000000|     4.690000| 535.000000|
|         16.000000|     4.562500|1935.000000|
|         27.000000|     5.712100|1217.000000|
|         42.000000|     2.200000| 157.000000|
|         15.000000|     1.875000| 189.000000|
|         26.000000|     2.717400|1603.000000|
|         26.000000|     6.585100| 654.000000|
|         35.000000|     6.172400|3450.000000|
+------------------+-------------+-----------+
only showing top 20 rows

In [14]:
df.select("housing_median_age","median_income","population").show

In [15]:
df.select("housing_median_age","median_income","population").show()

+------------------+-------------+-----------+
|housing_median_age|median_income| population|
+------------------+-------------+-----------+
|         27.000000|     6.608500|1537.000000|
|         43.000000|     3.599000| 809.000000|
|         27.000000|     5.793400|1484.000000|
|         28.000000|     6.135900|  49.000000|
|         19.000000|     2.937500| 850.000000|
|         37.000000|     1.663500| 663.000000|
|         43.000000|     1.664100| 604.000000|
|         19.000000|     3.225000|1341.000000|
|         15.000000|     3.669600|1446.000000|
|         31.000000|     2.333300|2830.000000|
|         45.000000|     2.205400|1288.000000|
|         37.000000|     2.416700| 564.000000|
|         36.000000|     4.690000| 535.000000|
|         16.000000|     4.562500|1935.000000|
|         27.000000|     5.712100|1217.000000|
|         42.000000|     2.200000| 157.000000|
|         15.000000|     1.875000| 189.000000|
|         26.000000|     2.717400|1603.000000|
|         26.000000|     6.585100| 654.000000|
|         35.000000|     6.172400|3450.000000|
+------------------+-------------+-----------+
only showing top 20 rows

In [16]:
df.count()

3000

In [17]:
df.filter ("housing_median_age>10").count()

2786

In [18]:
df.filter("housing_median_age<10").count()

184

In [19]:
df=df.filter("housing_median_age>10")

In [20]:
df.count()

2786